/*-- scss:defaults --*/

// Baseado em: https://github.com/nrennie/rss-2024-tidymodels/blob/main/slides/_extensions/nrennie/LUstyle/LUstyle.scss
// Baseado em: https://github.com/Robinlovelace/reproducible-slides-repo-template

$theme: "FRDstyle" !default;

// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:bold,italic,bolditalic&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

// Fonts
$font-family-sans-serif: 'Roboto', 'Lato', Arial, sans-serif !default;
$presentation-heading-font: 'Roboto Slab', Times New Roman, serif  !default;

// font size
$presentation-h1-font-size: 2.6em;
$presentation-h2-font-size: 1.7em;
$presentation-h3-font-size: 1.4em;
$presentation-h4-font-size: 1.1em;
$presentation-font-size-root: 40px;
$presentation-line-height: 1.5em;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$cyan:       #1696d2 !default;
$gray:       #d2d2d2 !default;
$yellow:     #fdbf11 !default;
$magenta:    #ec008b !default;
$space-gray: #5c5859 !default;
$green:      #55b748 !default;
$red:        #db2b27 !default;

$primary:       $cyan !default;
$secondary:     $gray-200 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.75 !default;

// font colour
$presentation-heading-color: $red !default;

// code
$code-color: #b20e10 !default;
$code-block-font-size: 0.6em;
$code-block-border-color: #000000;
$code-block-bg: #fafafa;

// body bg colours 
$body-color: $black !default;
$link-color: #b20e10;
$body-bg: #ffffff;

// slide bg colours
$slide-background: $gray-700;


// Callouts
$callout-color-note: $cyan;
$callout-color-warning: $yellow;
$callout-color-important: $red;
$callout-color-tip: $green;


/*-- scss:rules --*/

// Variables

.reveal-full-page{
  padding: 0%;
}

body{
  padding: 0;
}

$text-shadow: 0 1px 0 rgba(0, 0, 0, .05) !default;

// Mixins
@mixin btn-shadow($color){
  @include gradient-y-three-colors(tint-color($color, 16%), $color, 60%, shade-color($color, 6%));
}

// Buttons
.btn {
  text-shadow: $text-shadow;
}

.btn-secondary {
  color: $gray-700;
}


// Typography

.text-secondary {
  color: $gray-500 !important;
}

.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
}

.reveal h2 {
  font-size: $presentation-h2-font-size;
  margin-top: 20px;
}

.fonte-gifs {
  font-size: 0.5em;
}

// Indicators
.badge {
  &.bg-secondary,
  &.bg-light {
    color: $dark;
  }
}

// logo 
.reveal .slide-logo {
  bottom: 100px;
  left: 200px;
  max-height: 4rem !important;
  height: 100%;
  width: auto;
}


// footer 
.reveal .footer p {
  color: $cyan;
  font-size: .8em;
}

// body  

// title 
.reveal .title-slide {
  text-align: center;
}

.reveal .slide .level2 {
  padding: 10px;
}

.reveal .quarto-title-block {
  top: 5px !important; 
}

.reveal .quarto-title-block .quarto-title-authors {
  margin-top: 3em;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author .quarto-title-author-orcid img {
  width: 40px;
  height: 40px;
}



.reveal .quarto-title-block .quarto-title-authors .quarto-title-author .quarto-title-affiliation {
  font-size: .5em;
  margin-top: 0px;
  margin-bottom: 8px;
}

// aside
.slide aside, .reveal .slide div.aside {
  color: #9d9d9d
}
